.logo {
    height: 95px;
    position: fixed;
    top: 50px;
    left: 80px;
    width: 100%;
    z-index: 99;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.logo .ukicomp {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: white;
    font-family: sans-serif;
    top: 5px;
    cursor: pointer;
}

.hero {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    background: url("./cdn/harvester.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.hero .info {
    position: fixed;
    display: block;
    padding-left: 40px;
    padding-right: 160px;
    padding-bottom: 270px;
    top: 30vh;
    left: -100%;
    animation: niceLeft 2s forwards;
    background: rgba(51, 47, 47, 0.9);
}

@keyframes niceLeft {
    0% {
        left: -100%;
    }

    100% {
        left: 80px;
    }
}

.hero .info .strHR {
    position: relative;
    display: flex;
    color: white;
    font-size: 2.7em;
    top: 40px;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 3s steps(27, end), blink 800ms step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

.hero .info .headInfo {
    position: absolute;
    left: 40px;
    top: 120px;
    font-size: 1.2em;
    color: greenyellow;
    animation: fadeIn 4s forwards;
}

.hero .info .flexInfo {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 170px;
    animation: fadeIn 4s forwards;
}

.hero .infoCard {
    padding: 5px;
}

.hero .infoCard img {
    float: left;
}

.hero .infoCard .textInfo {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 8px;
}