* {
    overflow: hidden;
    user-select: none;
}

.ukicomp {
    position: relative;
    top: 55px;
    left: 80px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    font-family: sans-serif;
    cursor: pointer;
    animation: fadeIn 2s;
}

.showbtn {
    position: fixed;
    color: white;
    top: 20px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
}

.black {
    color: black !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hero {
    position: absolute;
    display: none;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    background: url("./cdn/harvester.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    opacity: 0;
}

.hero .info {
    position: fixed;
    display: block;
    padding-left: 2em;
    padding-right: 160px;
    padding-bottom: 270px;
    top: 30vh;
    left: -100%;
    animation: niceLeft 2s forwards;
    background: rgba(51, 47, 47, 0.9);
}

@keyframes niceLeft {
    0% {
        left: -100%;
    }

    100% {
        left: 80px;
    }
}

.hero .info .strHR {
    position: relative;
    display: flex;
    color: white;
    font-size: 2.7em;
    top: 40px;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 3s steps(27, end), blink 800ms step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

.hero .info .headInfo {
    position: absolute;
    left: 2em;
    top: 120px;
    font-size: 1.2em;
    color: greenyellow;
    animation: fadeIn 4s forwards;
}

.hero .info .flexInfo {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 170px;
    animation: fadeIn 4s forwards;
}

.hero .infoCard {
    padding: 5px;
}

.hero .infoCard img {
    float: left;
}

.hero .infoCard .textInfo {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 8px;
}

.dpPage {
    position: absolute;
    display: none;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    background: whitesmoke;
}

.rht {
    position: relative;
    float: right;
    top: 60px;
    right: 80px;
    font-family: sans-serif;
    border-bottom: 2px solid orange;
    color: white;
    animation: fadeIn 2s;
}

.dpPage .info {
    display: flex;
    position: fixed;
    top: 30vh;
    left: 80px;
    flex-direction: column;
    justify-content: space-evenly;
    animation: niceLeft 2s forwards;
}

.dpPage .info .detPrec {
    font-size: 100px;
    border-bottom: 5px solid orange;
}

.dpPage .info .descrp {
    padding-top: 15px;
    width: 550px;
    font-family: ui-monospace, monospace;
    backdrop-filter: blur(5px);
}

.dpPage img {
    position: fixed;
    float: right;
    top: 30vh;
    right: 10vw;
    animation: niceImg 2s forwards;
}

@keyframes niceImg {
    0% {
        transform: rotate(0deg);
        width: 200px;
        border-radius: 0px;
    }

    100% {
        transform: rotate(15deg);
        width: 350px;
        border-radius: 40px;
    }
}

.scrollPages .open {
    transition: opacity 1s;
    opacity: 1;
    display: block;
}

.mp {
    position: absolute;
    display: none;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgb(51, 50, 50);
}

.mp .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mp .info .allInf {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 40px;
}

.mp .info .allInf .dmp {
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    border-bottom: 5px solid orange;
}

.mp .info .allInf .inf {
    font-family: ui-monospace, monospace;
    font-size: 0.8em;
    color: white;
}

.mp .info img {
    position: absolute;
    width: 600px;
    height: 400px;
    border-radius: 40px;
    animation: vidTrans 3s forwards;
}

@keyframes vidTrans {
    0% {
        top: -100%;
        left: -100%;
        transform: translate(0, 0);
    }

    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.navbar {
    height: 100%;
    width: 0;
    position: fixed;
    background-color: rgba(0, 96, 128, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
    top: 0;
    left: 0;
}

.links {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.navbar a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: orange;
    display: block;
    transition: 0.3s;
    font-family: ui-monospace, monospace;
    cursor: pointer;
}

.navbar a:hover {
    color: whitesmoke;
}

.navbar .closebtn {
    position: absolute;
    right: 12px;
    font-size: 60px;
    cursor: pointer;
}

.specs {
    position: absolute;
    display: none;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    background: whitesmoke;
}

.specs .tblContainer {
    position: absolute;
    width: 90vw;
    max-height: 60vh;
    overflow-y: auto;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: tblIn 2s forwards;
}

@keyframes tblIn {
    0% {
        left: -100%;
    }

    100% {
        left: 50%;
    }
}

.specs table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.specs td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.specs tr:nth-child(even) {
    background-color: #dddddd;
}

.specs button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
    font-size: 15px;
    padding: 10px;
    border: none;
    background: darkcyan;
    color: white;
    cursor: pointer;
    transition: background 800ms;
    animation: btnIn 2s forwards;
}

@keyframes btnIn {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 10vh;
    }
}

.specs button:hover {
    background: darkgreen;
}

.specs button img {
    padding-right: 15px;
}

.img {
    position: absolute;
    display: none;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgb(51, 50, 50);
}

.img .next {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.img .prev {
    position: absolute;
    bottom: 20px;
    left: 20px;
    transform: scaleX(-1);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.img .prevImg {
    position: absolute;
    width: 650px;
    height: 450px;
    border-radius: 25px;
    animation: vidTrans 3s forwards;
}

.img .overl {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: fadeIn 5s forwards;
}

.img h1 {
    position: absolute;
    color: white;
    bottom: 20px;
    font-family: sans-serif;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes clickImg {
    0% {
        width: 50px;
        height: 50px;
    }

    50% {
        width: 20px;
        height: 20px;
    }

    100% {
        width: 50px;
        height: 50px;
    }
}

.abt {
    position: absolute;
    display: none;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 96, 128, 0.9);
}

.abt .info {
    display: flex;
    position: fixed;
    top: 30vh;
    left: 80px;
    flex-direction: column;
    justify-content: space-evenly;
    animation: niceLeft 2s forwards;
}

.abt .info .cntUs {
    font-size: 80px;
    text-shadow: 5px 5px 25px black;
    color: white;
    border-bottom: 5px solid orange;
}

.abt .info .flexInfo {
    display: flex;
    flex-direction: column;
    animation: fadeIn 4s forwards;
    padding-top: 20px;
}

.abt .infoCard {
    padding: 5px;
}

.abt .infoCard img {
    float: left;
}

.abt .infoCard .textInfo {
    display: flex;
    flex-direction: column;
    text-shadow: 5px 5px 25px black;
    color: white;
    padding: 8px;
}

@media screen and (max-width: 815px) {
    .ukicomp {
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
    }

    .hero .info {
        top: 55%;
        transform: translate(-50%, -50%);
        padding-left: 0;
        padding-right: 80vw;
        padding-bottom: 55vh;
    }

    @keyframes niceLeft {
        0% {
            left: -100%;
        }

        100% {
            left: 50%;
        }
    }

    .hero .info .contents {
        padding: 50px;
    }

    .hero .info .strHR {
        position: fixed;
        left: 5vw;
    }

    .hero .info .headInfo {
        left: 5vw;
        font-size: 1em;
    }

    .hero .infoCard {
        padding: 12px;
    }

    .hero .info .flexInfo {
        left: 5vw;
    }

    .dpPage .info {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .abt .info {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .dpPage img {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .dpPage .info .detPrec {
        font-size: 3em;
    }

    .dpPage .info .descrp {
        width: 70vw;
        font-size: .9em;
    }

    .mp .info img {
        width: 70vw;
        height: 60vh;
    }

    .mp .info .dmp {
        width: 80vw;
    }

    .mp .info .inf {
        width: 80vw;
    }

    .mp .info .allInf {
        left: 50%;
        transform: translateX(-50%);
    }

    .abt .info .cntUs {
        font-size: 3em;
    }
}

@media screen and (max-width: 450px) {
    .hero .info .strHR {
        font-size: 1.2em;
    }

    .img h1 {
        bottom: 7vh;
    }

    .img .next {
        bottom: 10vh;
    }

    .img .prev {
        bottom: 10vh;
    }

    .hero .info .headInfo {
        top: 80px;
    }

    .hero .info .flexInfo {
        top: 120px;
    }

    .mp .info img {
        width: 90vw;
        height: 45vh;
    }

    .img .prevImg {
        width: 90vw;
        height: 40vh;
    }

    .navbar a {
        font-size: 20px
    }

    .navbar .closebtn {
        font-size: 60px;
        top: 35px;
        right: 25px;
    }

    .showbtn {
        font-size: 40px;
        top: 45px;
        right: 35px;
    }

    @keyframes vidTrans {
        0% {
            top: -100%;
            left: -100%;
            transform: translate(0, 0);
        }

        100% {
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}